<div class="profile-container" *ngIf="user() as u; else loading">

  <!-- HEADER -->
  <div class="profile-header">
    <div class="avatar">
       {{ u.username.charAt(0) }}
    </div>

    <div class="info">
      <h1>{{ u.username }}</h1>

      <div class="meta">
        <span>📅 Member since {{ u.createdAt | date:'mediumDate' }}</span>
      </div>
    </div>

    <div class="actions">
      <button class="edit-btn">Edit profile</button>
    </div>
  </div>

  <div class="profile-body">

    <!-- SIDEBAR -->
    <aside class="sidebar">
      <button
        [class.active]="activeTab() === 'questions'"
        (click)="setTab('questions')">
        Questions ({{ u.questions?.length || 0 }})
      </button>

      <button
        [class.active]="activeTab() === 'answers'"
        (click)="setTab('answers')">
        Answers ({{ u.answers?.length || 0 }})
      </button>

      <button
        [class.active]="activeTab() === 'articles'"
        (click)="setTab('articles')">
        Articles
      </button>
    </aside>

    <!-- CONTENT -->
    <section class="content">

      <!-- QUESTIONS -->
      <ng-container *ngIf="activeTab() === 'questions'">

  <div *ngIf="u.questions.length === 0" class="empty">
    You have not asked any questions yet.
  </div>

  <div *ngFor="let q of u.questions" class="list-item">
  <a
    [routerLink]="['/user/question', q._id]"
    class="question-link"
  >
    <h3 [innerHTML]="q.titlehtml" class="qn-h3"></h3>
  </a>

  <p class="preview">
    {{ truncate(stripHtml(q.body), 90) }}
  </p>

  <div class="meta">
    <!-- <a href=""> <span class="tag">{{ q.tags[0]?.name }}</span></a> -->
     <div class="tag-div" *ngIf="q.tags && q.tags.length > 0">
    <span [routerLink]="['/user/tag-questions', tag._id]" class="tag" *ngFor="let tag of q.tags">
      {{ tag.name }}
    </span>
  </div>
    <span class="date">
      {{ q.createdAt | date:'mediumDate' }}
    </span>
  </div>
</div>

</ng-container>


      <!-- ANSWERS -->
     <ng-container *ngIf="activeTab() === 'answers'">

  <div *ngIf="u.answers.length === 0" class="empty">
    You have not answered any questions yet.
  </div>

  <div *ngFor="let a of u.answers" class="list-item">
    <a [routerLink]="['/user/question', a.question]" class="a-answer">
      <p class="preview">
      {{ truncate(stripHtml(a.body), 100) }}
    </p>
    </a>

    <div class="meta">
      <span class="date">
        answered {{ a.createdAt | date:'mediumDate' }}
      </span>
    </div>
  </div>
</ng-container>


      <!-- ARTICLES -->
      <ng-container *ngIf="activeTab() === 'articles'">
        <h2>Articles</h2>
        <div class="empty">No articles published.</div>
      </ng-container>

    </section>
  </div>
</div>

<ng-template #loading>
  <div class="loading">Loading profile...</div>
</ng-template>
